* {
  box-sizing: border-box;
}
body {
  background-image: url("https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: repeat;
  background-attachment: fixed;
}
.page-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}
.top-left-text {
  color: yellow;
  margin-left: 100px;
  margin-top: 10px;
}
.text-1 {
    font-size: 1.5rem;
}
.centered-1 {
    font-size: 1.5rem;
}
.centered-2 {
    font-size: 3rem;
}
.links {
  margin-right: 200px;
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin-top: 200px;
  margin-bottom: 500px;
}
.button {
  background-color: wheat;
  font-size: 12px;
  border-radius: 4px;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
.footer {
  margin-bottom: 400px;
}
@media only screen and (max-width: 770px) {
  .image {
      width: 100%;
      height: auto;
   }
   
  .centered-2{
      font-size: 3rem;
   }
   .page-top{
      margin-right: -130px;
   }
   .top-left-text {
      margin-left: 90px;
      font-size: 2rem;
   }
}
@media only screen and (max-width: 414px) {
  .image {
      width: 100%;
      height: auto;
   }
  .centered-2{
      font-size: 1.9rem;
   }
   .page-top{
      display: block;
      margin-right: -200px;
   }
   .top-left-text {
      margin-left: 130px;
   }
  }
@media only screen and (max-width: 375px) {
 
 .box {
     align-content: center;
     margin-left: 1px;
 }
 .page-top{
     display: block;
     margin-left: -35px;
 }
 
 .image {
     width: 100%;
     height: auto;
 }
 .text-1 {
     font-size: 1rem;
     
 }
 .centered-1 {
     font-size: 1rem;
 }
 .centered-2{
     font-size: 1.3rem;
 }
 .top-left-text {
     margin-left: 160px;
 }
  
}


